*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;  
}

.score {
  font-size: 3vmin;
  position: absolute;
  right: 1vmin;
  top: 1vmin;
}

.start-screen {
  font-size: 5vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  bottom: 0;
  left: calc(var(--left) * 1%);
  position: absolute;
  width: 300%;
}

.dino {
  --bottom: 0;
  bottom: calc(var(--bottom) * 1%);
  height: 30%;
  left: 1%;
  position: absolute;
}

.cactus {  
  bottom: 0;
  height: 30%;
  left: calc(var(--left) * 1%);
  position: absolute;
}